{
  "openapi": "3.0.3",
  "info": {
    "title": "Hypodash API",
    "version": "v1",
    "description": "OpenAPI specification for Hypodash public API (v1)"
  },
  "servers": [
    {
      "url": "https://hypodash.com",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Token"
      }
    },
    "schemas": {
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" }
        }
      },
      "Article": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "title": { "type": "string" },
          "body": { "type": "string" },
          "status": { "type": "string" },
          "published_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "PaginatedArticles": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Article" }
          },
          "meta": {
            "type": "object",
            "properties": {
              "current_page": { "type": "integer" },
              "from": { "type": "integer", "nullable": true },
              "last_page": { "type": "integer" },
              "per_page": { "type": "integer" },
              "to": { "type": "integer", "nullable": true },
              "total": { "type": "integer" }
            }
          }
        }
      },
      "NewArticle": {
        "type": "object",
        "required": ["title", "body"],
        "properties": {
          "title": { "type": "string" },
          "body": { "type": "string" },
          "status": { "type": "string" }
        }
      },
      "ValidationError": {
        "type": "object",
        "properties": {
          "message": { "type": "string" },
          "errors": { "type": "object", "additionalProperties": { "type": "array", "items": { "type": "string" } } }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "message": { "type": "string" }
        }
      }
    }
  },
  "security": [
    { "bearerAuth": [] }
  ],
  "paths": {
    "/v1/team": {
      "get": {
        "summary": "Get team",
        "description": "Returns the currently authenticated user (team) information.",
        "responses": {
          "200": {
            "description": "Authenticated user",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/User" }
              }
            }
          },
          "401": { "description": "Unauthorized", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/v1/articles": {
      "get": {
        "summary": "List articles",
        "description": "Returns a paginated list of the authenticated user's articles.",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 10 } }
        ],
        "responses": {
          "200": {
            "description": "Paginated articles",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedArticles" } } }
          },
          "401": { "description": "Unauthorized" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/v1/article/{article}": {
      "get": {
        "summary": "Get single article",
        "parameters": [
          { "name": "article", "in": "path", "required": true, "schema": { "type": "integer" }, "description": "Article ID" }
        ],
        "responses": {
          "200": { "description": "Article", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Article" } } } },
          "404": { "description": "Not Found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Unauthorized" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
  }
}